<ul id="contact-links">
  <li><a href="mailto:{{ site.author_email }}" rel="me" target="_blank"><i class="fa fa-envelope fa fa-4x">&nbsp;</i><br /> Email</a></li>
  <li><a href="https://github.com/{{ site.social.handle }}" rel="me" target="_blank"><i class="fa fa-github fa fa-4x">&nbsp;</i><br /> GitHub</a></li>
  <li><a href="https://plus.google.com/+{{ site.social.handle }}" rel="me" target="_blank"><i class="fa fa-google-plus fa fa-4x">&nbsp;</i><br /> Google</a></li>
  <li><a href="https://www.linkedin.com/in/{{ site.social.handle }}" rel="me" target="_blank" data-proofer-ignore="true"><i class="fa fa-linkedin fa fa-4x">&nbsp;</i><br /> LinkedIn</a></li>
  <li><a href="https://twitter.com/{{ site.social.handle }}" rel="me" target="_blank"><i class="fa fa-twitter fa fa-4x">&nbsp;</i><br />Twitter</a></li>
</ul>
