{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}

<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ian Lee</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About Me</a></li>
        <li><a href="/resume">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
