/* Color Picker: http://paletton.com/#uid=3380u0khDdXb5nudViwmabrrg7M */

body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 0.875em;
}

header, nav, section, article, footer {
    border:1px solid grey;
    margin:5px;
    padding:8px;
}
header, nav, footer {
    text-align:center;
}

nav {
    background-color: darkgray;
    border-radius: 15px;
    border: 2px;
    margin: auto;
    width: 50%;
}

nav ul {
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    margin:5px;
}

.resume section {
    width: 75%;
    margin: 0.25em auto;
    border-radius: 15px;
}

.resume h2 {
    text-align: center;
}
