header, nav, section, article, footer {
    border:1px solid grey;
    margin:5px;
    padding:8px;
}
header, nav, footer {
    text-align:center;
}

nav ul {
    margin:0; padding:0;
}

nav ul li {
    display:inline;
    margin:5px;
}
